**/*.tfstate  
**/*.tfstate.*  
**/*.tfstate.backup  
  
!deployment/terraform.tfstate  
!deployment/terraform.tfstate.backup  
  
**/.terraform/  
**/.terraform.lock.hcl  

.cache/  
.direnv/  
result/  
